body {background-color:
     #FFFFFF;}

nav {position: fixed;
width: 100vW;}

.imagen { }


.fondo {background-color: #660066;
}    

.titulo { width: 187px; 
    height: 107px;
}

.texto {padding-top: 20px;
    column-count: 2;
    column-gap: 1px;
    text-align: left ;
    }

 .redes-sociales i {margin: 0 0.25em 0.3em 0.25em;
color: #FFFFFF;
 }  