body {background-color:
      #FFFFFF;}

body {font-family: Open sans-serif;
Oswald; }
    
nav {position: fixed;
width: 100vW;}

.imagen { width: 1280px; height: 737px;}



.titulo { width: 187px; 
    height: 107px;
}

.texto {padding-top: 20px;
    column-count: 2;
    column-gap: 1px;
    text-align: left ;
    }

 .redes-sociales i {margin: 0 0.25em 0.3em 0.25em;
color: #FFFFFF;
 }  